<?xml version="1.0" encoding="UTF-8"?>
<DatabaseConfiguration xmlns="http://cagrid.org/tools/database"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <host>localhost</host>
        <port>3306</port>
        <username>root</username>
        <password></password>
</DatabaseConfiguration>

