service.deployment.prefix=cagrid
index.service.url=@cagrid.master.index.service.url@
perform.index.service.registration=true
index.service.registration.refresh_seconds=300
index.service.index.refresh_milliseconds=3600000