<gts>
	<resource name="GTSConfiguration"
		class="gov.nih.nci.cagrid.gts.service.Configuration">
		<gts-config>
			<gts-internal-id>test_gts</gts-internal-id>
			<sync-authorities hours="0" minutes="0" seconds="1"/>
			<database>
				<name/>
				<driver>com.mysql.jdbc.Driver</driver>
				<urlPrefix>jdbc:mysql:</urlPrefix>
				<host>localhost</host>
				<port>3306</port>
				<username>root</username>
				<password></password>
				<pool>1</pool>
			</database>
		</gts-config>
	</resource>
</gts>
