<database>
	<name/>
	<driver>com.mysql.jdbc.Driver</driver>
	<urlPrefix>jdbc:mysql:</urlPrefix>
	<host>localhost</host>
	<port>3306</port>
	<username>root</username>
	<password></password>
	<pool>1</pool>
</database>
