<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
>
  <bean id="dataSourceTemplate" abstract="true" class="org.apache.commons.dbcp.BasicDataSource"
    destroy-method="close" p:driverClassName="${cagrid.gme.db.driver}" p:maxActive="10" p:maxIdle="2"
    p:maxWait="180000" p:removeAbandoned="true" p:removeAbandonedTimeout="300" p:logAbandoned="true"
    p:testWhileIdle="true" p:testOnReturn="true" p:validationQuery="select 1"
    p:timeBetweenEvictionRunsMillis="300000" p:minEvictableIdleTimeMillis="600000" />
    
  <bean id="dataSource" parent="dataSourceTemplate" p:url="${cagrid.gme.db.url}" p:username="${cagrid.gme.db.username}"
    p:password="${cagrid.gme.db.password}" />
    
  <bean id="databaseValidator" class="org.springframework.jdbc.support.DatabaseStartupValidator">
    <property name="dataSource" ref="dataSource" />
		<!-- timeout in seconds -->
    <property name="timeout" value="15" />
    <property name="validationQuery" value="Select 1" />
  </bean>
  
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
    depends-on="databaseValidator">
    <property name="dataSource">
      <ref bean="dataSource" />
    </property>
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.dialect">${cagrid.gme.db.dialect}</prop>
        <!--
          <prop key="hibernate.hbm2ddl.auto">create-drop</prop>
         -->
        <prop key="hibernate.hbm2ddl.auto">update</prop>
        <prop key="hibernate.show_sql">false</prop>
      </props>
    </property>
    <property name="annotatedClasses">
      <list>
        <value>org.cagrid.gme.domain.XMLSchema</value>
        <value>org.cagrid.gme.domain.XMLSchemaBundle</value>
        <value>org.cagrid.gme.domain.XMLSchemaDocument</value>
        <value>org.cagrid.gme.domain.XMLSchemaImportInformation</value>
        <value>org.cagrid.gme.domain.XMLSchemaNamespace</value>
        <value>org.cagrid.gme.service.domain.XMLSchemaInformation</value>
        <value>org.cagrid.gme.service.GME</value>
      </list>
    </property>
  </bean>
  
  <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  
  <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
  
  <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
    <property name="checkWriteOperations">
      <value>true</value>
    </property>
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
  
  <bean id="daoTemplate" abstract="true">
    <property name="hibernateTemplate">
      <ref bean="hibernateTemplate" />
    </property>
  </bean>
  
  <bean id="xmlSchemaInformationDao" parent="daoTemplate"
    class="org.cagrid.gme.service.dao.XMLSchemaInformationDao" />
  
  <bean id="gme" class="org.cagrid.gme.service.GME">
    <property name="XMLSchemaInformationDao" ref="xmlSchemaInformationDao" />
  </bean>
</beans>