# Uncomment the following line to use an existing JBoss installation
# jboss.home=c:/delme/jboss/jboss-4.0.4.GA
# Uncomment the following two lines to unpack a JBoss zip file and use it
jboss.unpack.dir=c:/delme/jboss/unpacked
jboss.zip.location=c:/delme/jboss-4.0.4.GA.zip

mysql.home=c:/mysql-4.1.22
mysql.user=cabiouser
mysql.passwd=cabio
mysql.schema=deleteMeLater
