SDK{ 
    gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule required 
	driver="org.gjt.mm.mysql.Driver" 
	url="jdbc:mysql://localhost:3306/sdk2_csm" 
	user="sdk" 
	passwd="sdk" 
	
	TABLE_NAME="CSM_USER"
  USER_LOGIN_ID="LOGIN_NAME"
  USER_PASSWORD="PASSWORD"
  USER_FIRST_NAME="FIRST_NAME"
  USER_LAST_NAME="LAST_NAME"
  USER_EMAIL_ID="EMAIL_ID";
};
   
   
   
