#General Introduce Properties
introduce.version=1.6
introduce.patch.version=0
introduce.grape.configuration.file=conf/introduce-grape-conf.xml
introduce.wsdl2java.timeout.ms=90000

# Information on Dependent Services
#Grid Grouper
introduce.gridgrouper.load.on.startup=false
introduce.gridgrouper.urls=@cagrid.master.gridgrouper.service.url@