<?xml version="1.0" encoding="UTF-8"?>
<IntroduceServiceDefaults xmlns="gme://gov.nih.nci.cagrid.introduce/1/Configuration"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <ServiceName>HelloWorld</ServiceName>
    <ServiceNamespace>http://helloworld.cagrid.org/HelloWorld</ServiceNamespace>
    <ServicePackage>org.cagrid.helloworld</ServicePackage>
    <DeploymentPrefix>cagrid</DeploymentPrefix>
    <IndexServiceRegistrationURL>@cagrid.master.index.service.url@</IndexServiceRegistrationURL>
</IntroduceServiceDefaults>
